<item-details>
  <p class="d-flex"><span><span class="item-id">#001</span><br><span class="item-ver">오리지널</span></span>
    <img class="ml-auto img-preview">
  </p>
  <p class="item-title text-center"><span class="item-name-eng">Name</span>
    <br />
    <span class="item-name-kor">이름</span>
    <br />
  </p>
  <p class="item-pickup text-center">"pickup"<br />"픽업텍스트"</p>
  <p class="item-quality text-center">퀄리티 X</p>
  <p>설명</p>
  <p>설명</p>
  <p>설명</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브</p>
  <p class="item-pool">일반 배열 : 보물방</p>
  <p class="item-greedpool">그리드 배열 : 보물방</p>
  <p class="item-tags d-none"> guppy </p>
  <p class="item-search d-none"> 보물방 </p>
  <p class="item-type-s d-none">0</p>
</item-details>