<item-details>
  <p class="d-flex"><span><span class="item-id">#001</span><br><span class="item-ver">오리지널</span></span>
    <img class="ml-auto img-preview">
  </p>
  <p class="item-title text-center"><span class="item-name-eng">The Sad Onion</span>
    <br />
    <span class="item-name-kor">눈물나는 양파</span>
    <br />
  </p>
  <p class="item-pickup text-center">"Tears Up"<br />"공격 속도 증가"</p>
  <p class="item-quality text-center">퀄리티 3</p>
  <p> <i class="fa fa-plus text-success"></i> 공격 속도 +0.7 증가</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브 아이템</p>
  <p class="item-pool">일반 배열 : 보물방, 인형뽑기</p>
  <p class="item-greedpool">그리드 배열 : 보물방</p>
  <p class="item-tags-kor">태그 : 레메게톤 알스트 공속</p>
  <p class="item-tags d-none"> summonable tearsup offensive </p>
  <p class="item-search d-none">초록 연두 슬픔 식물 양파 공속증가 공속템</p>
  <p class="item-type-s d-none">0</p>
</item-details>