<item-details>
  <p class="d-flex"><span class="item-id">#003</span><span class="ml-auto item-ver">오리지널</span></p>
  <p class="item-title text-center"><span class="item-name-eng">Spoon Bender</span>
    <br />
    <span class="item-name-kor">초능력자</span>
    <br />
  </p>
  <p class="item-pickup text-center">"Homing Shots"<br />"유도 공격"</p>
  <p class="item-quality text-center">퀄리티 3</p>
  <p>눈물에 유도 효과를 부여합니다</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브</p>
  <p class="item-pool">일반 배열 : 인형뽑기, 보물방</p>
  <p class="item-greedpool">그리드 배열 : 보물방</p>
  <p class="item-tags-kor">태그 : 레메게톤 알스트</p>
  <p class="item-tags d-none"> summonable offensive </p>
  <p class="item-search d-none">보물방, 아이템방, 하양</p>
</item-details>