<item-details>
  <p class="d-flex"><span class="item-id">#005</span><span class="ml-auto item-ver">오리지널</span></p>
  <p class="item-title text-center"><span class="item-name-eng">My Reflection</span>
    <br />
    <span class="item-name-kor">거울상</span>
    <br />
  </p>
  <p class="item-pickup text-center">"boomerang taers"<br />"부메랑 공격"</p>
  <p class="item-quality text-center">퀄리티 0</p>
  <p>눈물에 부메랑 효과를 부여합니다</p>
  <p> <i class="fa fa-plus text-success"></i> 사거리 배수 x1.6배</p>
  <p> <i class="fa fa-plus text-success"></i> 사거리 +1.5 증가</p>
  <p> <i class="fa fa-plus text-success"></i> 탄속 배수 x1.6 배</p>
  <p> <i class="fa fa-plus text-success"></i> 눈물 높이 +1 증가</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브 아이템</p>
  <p class="item-pool">일반 배열 : 보물방, 인형뽑기</p>
  <p class="item-greedpool">그리드 배열 : 보물방</p>
  <p class="item-tags-kor">태그 : 레메게톤, 알스트</p>
  <p class="item-tags d-none"> summonable offensive </p>
  <p class="item-search d-none">아이템방 되돌 깨진 하양 하얀 흰색</p>
</item-details>