<item-details>
  <p class="d-flex"><span><span class="item-id">#007</span><br><span class="item-ver">오리지널</span></span>
    <img class="ml-auto img-preview">
  </p>
  <p class="item-title text-center"><span class="item-name-eng">Blood of Martyr</span>
    <br />
    <span class="item-name-kor">순교자의 피</span>
    <br />
  </p>
  <p class="item-pickup text-center">"DMG Up"<br />"공격력 증가"</p>
  <p class="item-quality text-center">퀄리티 3</p>
  <p> <i class="fa fa-plus text-success"></i> 공격력 +1 증가</p>
  <p> <i class="fa fa-plus text-success"></i> 벨리알의 책 효과가 발동중일 때 공격력 배수 x1.5배</p>
  <p> <i class="fa fa-exclamation text-secondary"></i> 크리켓의 머리, 마법의 버섯, 벨리알의 책 + 순교자의 피의 공격력 배수는 서로 충첩되지 않습니다</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브</p>
  <p class="item-pool">일반 배열 : 보물방, 천사방, 낡은상자</p>
  <p class="item-greedpool">그리드 배열 : 보물방, 천사방</p>
  <p class="item-tags-kor">태그 : 레메게톤 알스트</p>
  <p class="item-tags d-none"> summonable offensive </p>
  <p class="item-search d-none"> 갈색 고리 동그라미 대미지증가 데미지증가 딜증가</p>
  <p class="item-type-s d-none">0</p>
</item-details>