<item-details>
  <p class="d-flex"><span class="item-id">#008</span><span class="ml-auto item-ver">오리지널</span></p>
  <p class="item-title text-center"><span class="item-name-eng">Brother Bobby</span>
    <br />
    <span class="item-name-kor">보비</span>
    <br />
  </p>
  <p class="item-pickup text-center">"Friends 'till the end"<br />"영원한 친구"</p>
  <p class="item-quality text-center">퀄리티 0</p>
  <p> 0.5초 당 대미지 3.5의 눈물을 쏘는 패밀리어를 소환합니다</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패밀리어</p>
  <p class="item-pool">일반 배열 : 보물방, 악마방, 패밀리어상점</p>
  <p class="item-greedpool">그리드 배열 : 보물방</p>
  <p class="item-tags-kor">태그 : 레메게톤 알스트 종양셋 몬스터매뉴얼</p>
  <p class="item-tags d-none"> summonable baby monstermanual offensive </p>
  <p class="item-search d-none"> 파란 파랑 죽은 </p>
</item-details>