<item-details>
  <p class="d-flex"><span><span class="item-id">#010</span><br><span class="item-ver">오리지널</span></span>
    <img class="ml-auto img-preview">
  </p>
  <p class="item-title text-center"><span class="item-name-eng">Halo of Flies</span>
    <br />
    <span class="item-name-kor">파리떼</span>
    <br />
  </p>
  <p class="item-pickup text-center">"Projectile protection"<br />"탄막 방어"</p>
  <p class="item-quality text-center">퀄리티 3</p>
  <p>아이작의 주변을 도는 회색 파리 배리어 2마리를 소환합니다</p>
  <p>회색 파리는 최대 3마리까지 소환할 수 있습니다</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패밀리어</p>
  <p class="item-pool">일반 배열 : 보물방, 열쇠거지, 패밀리어상점</p>
  <p class="item-greedpool">그리드 배열 : 보물방</p>
  <p class="item-tags-kor">태그 : 레메게톤 파리셋 몬스터매뉴얼 </p>
  <p class="item-tags d-none"> summonable monstermanual fly </p>
  <p class="item-search d-none"> 검은 회색 회전 공전 </p>
  <p class="item-type-s d-none">0</p>
</item-details>