<item-details>
  <p class="d-flex"><span class="item-id">#012</span><span class="ml-auto item-ver">오리지널</span></p>
  <p class="item-title text-center"><span class="item-name-eng">Magic Mushroom</span>
    <br />
    <span class="item-name-kor">마법의 버섯</span>
    <br />
  </p>
  <p class="item-pickup text-center">"All Stats Up!"<br />"모든 능력치 증가!"</p>
  <p class="item-quality text-center">퀄리티 4</p>
  <p> <i class="fa fa-plus text-success"></i> 체력 +1 증가</p>
  <p> <i class="fa fa-plus text-success"></i> 공격력 +0.3 증가</p>
  <p> <i class="fa fa-plus text-success"></i> 공격력 배수 x1.5배</p>
  <p> <i class="fa fa-plus text-success"></i> 사거리 +1.5 증가</p>
  <p> <i class="fa fa-plus text-success"></i> 눈물 높이 +0.5 증가</p>
  <p> <i class="fa fa-plus text-success"></i> 이동속도 +0.3 증가</p>
  <p> <i class="fa fa-exclamation text-secondary"></i> 크리켓의 머리, 마법의 버섯, 벨리알의 책 + 순교자의 피의 공격력 배수는 서로 충첩되지 않습니다</p>
  <p>체력을 전부 회복합니다</p>
  <p>아이작의 크기가 커지며 이전에 피격 판정이 줄어들은 적이 있을 경우 피격 판정이 커집니다</p>
  <p>버섯 오브젝트를 부수면 매우 낮은 확률로 등장합니다</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브</p>
  <p class="item-pool">일반 배열 : 보물방</p>
  <p class="item-greedpool">그리드 배열 : 보물방, 보스방</p>
  <p class="item-tags-kor">태그 : 레메게톤 알스트 버섯셋 </p>
  <p class="item-tags d-none"> summonable mushroom offensive </p>
  <p class="item-search d-none"> 사이즈업 마리오 빨강 빨간 올스탯 사거리증가 이속증가 체력증가 풀체력 데미지증가 딜증가 대미지증가 배수템 </p>
  <p class="item-type-s d-none">0</p>
</item-details>