<item-details>
  <p class="d-flex"><span class="item-id">#013</span><span class="ml-auto item-ver">오리지널</span></p>
  <p class="item-title text-center"><span class="item-name-eng">The Virus</span>
    <br />
    <span class="item-name-kor">바이러스</span>
    <br />
  </p>
  <p class="item-pickup text-center">"Poison touch + speed up"<br />"맹독 묻히기 + 이동 속도 증가"</p>
  <p class="item-quality text-center">퀄리티 0</p>
  <p> <i class="fa fa-plus text-success"></i> 이동속도 +0.2 증가</p>
  <p>적과 접촉 시 24의 접촉 대미지와 캐릭터가 보유하고 있는 최대 체력에 비례한 독 대미지가 6~7회 적용됩니다</p>
  <p>대미지 공식 : 2 + ( 0.2 * (최대 체력 + 뼈 하트의 갯수) ^ 2 )</p>
  <p>이 아이템의 독은 보스의 상태이상 쿨타임을 무시합니다</p>
  <p>미니보스 Lust(색욕) 처치 시 일정 확률로 이 아이템을 드랍합니다</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브</p>
  <p class="item-pool">일반 배열 : 보물방, 악마거지</p>
  <p class="item-greedpool">그리드 배열 : 보물방</p>
  <p class="item-tags-kor">태그 : 레메게톤 주사기셋 로스트생득권 </p>
  <p class="item-tags d-none"> nolostbr summonable syringe </p>
  <p class="item-search d-none"> 빨강 빨간 독뎀 독댐 </p>
  <p class="item-type-s d-none">0</p>
</item-details>