<item-details>
  <p class="d-flex"><span><span class="item-id">#014</span><br><span class="item-ver">오리지널</span></span>
    <img class="ml-auto img-preview">
  </p>
  <p class="item-title text-center"><span class="item-name-eng">Roid Rage</span>
    <br />
    <span class="item-name-kor">불량 스테로이드</span>
    <br />
  </p>
  <p class="item-pickup text-center">"Speed and range up"<br />"이동 속도, 사거리 증가"</p>
  <p class="item-quality text-center">퀄리티 2</p>
  <p> <i class="fa fa-plus text-success"></i> 이동속도 +0.3 증가</p>
  <p> <i class="fa fa-plus text-success"></i> 사거리 +1.5 증가</p>
  <p> <i class="fa fa-plus text-success"></i> 눈물 높이 +0.5 증가</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브</p>
  <p class="item-pool">일반 배열 : 보물방, 보스방, 악마거지</p>
  <p class="item-greedpool">그리드 배열 : 보스방</p>
  <p class="item-tags-kor">태그 : 레메게톤 주사기셋 알스트 </p>
  <p class="item-tags d-none"> summonable syringe offensive </p>
  <p class="item-search d-none"> 연두 초록 이속증가 </p>
  <p class="item-type-s d-none">0</p>
</item-details>