<item-details>
  <p class="d-flex"><span><span class="item-id">#017</span><br><span class="item-ver">오리지널</span></span>
    <img class="ml-auto img-preview">
  </p>
  <p class="item-title text-center"><span class="item-name-eng">Skeleton Key</span>
    <br />
    <span class="item-name-kor">해골 열쇠</span>
    <br />
  </p>
  <p class="item-pickup text-center">"99 Keys"<br />"열쇠 99개"</p>
  <p class="item-quality text-center">퀄리티 3</p>
  <p> <i class="fa fa-plus text-success"></i> 열쇠 +99</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브</p>
  <p class="item-pool">일반 배열 : 보물방, 비밀방</p>
  <p class="item-greedpool">그리드 배열 : 없음</p>
  <p class="item-tags-kor">태그 : 알스트 노카드 </p>
  <p class="item-tags d-none"> offensive nocantrip </p>
  <p class="item-search d-none"> 회색 은색 </p>
  <p class="item-type-s d-none">0</p>
</item-details>