<item-details>
  <p class="d-flex"><span><span class="item-id">#018</span><br><span class="item-ver">오리지널</span></span>
    <img class="ml-auto img-preview">
  </p>
  <p class="item-title text-center"><span class="item-name-eng">A Dollar</span>
    <br />
    <span class="item-name-kor">달러</span>
    <br />
  </p>
  <p class="item-pickup text-center">"$$$"</p>
  <p class="item-quality text-center">퀄리티 2</p>
  <p> <i class="fa fa-plus text-success"></i> 동전 +100</p>
  <p>이 아이템은 일반적인 방법으로 획득할 수 없으며 에덴의 시작 아이템, 스핀다운 다이스를 제외하면 오직 슬롯머신에서만 획득할 수 있습니다</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브</p>
  <p class="item-pool">일반 배열 : 없음</p>
  <p class="item-greedpool">그리드 배열 : 없음</p>
  <p class="item-tags-kor">태그 : 노카드 </p>
  <p class="item-tags d-none"> nocantrip </p>
  <p class="item-search d-none"> 초록색 지폐 네모 돈 </p>
  <p class="item-type-s d-none">0</p>
</item-details>