<item-details>
  <p class="d-flex"><span><span class="item-id">#020</span><br><span class="item-ver">오리지널</span></span>
    <img class="ml-auto img-preview">
  </p>
  <p class="item-title text-center"><span class="item-name-eng">Transcendence</span>
    <br />
    <span class="item-name-kor">초월</span>
    <br />
  </p>
  <p class="item-pickup text-center">"We all float down here..."<br />"이젠 떠가는 거야..."</p>
  <p class="item-quality text-center">퀄리티 3</p>
  <p> <i class="fa fa-plus text-success"></i> 비행 효과를 얻습니다</p>
  <p class="item-unlock">해금 조건 : 엄마 심장(Mom's Heart) 3회 격파</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브</p>
  <p class="item-pool">일반 배열 : 비밀방</p>
  <p class="item-greedpool">그리드 배열 : 없음</p>
  <p class="item-tags-kor">태그 : 로스트생득권 레메게톤 </p>
  <p class="item-tags d-none"> nolostbr summonable </p>
  <p class="item-search d-none"> 목줄 노란색 밧줄 원 동그라미 </p>
  <p class="item-type-s d-none">0</p>
</item-details>