<item-details>
  <p class="d-flex"><span class="item-id">#347</span><span class="ml-auto item-ver">애프터버스</span></p>
  <p class="item-title text-center"><span class="item-name-eng">Diplopia</span>
    <br />
    <span class="item-name-kor">복시</span>
    <br />
  </p>
  <p class="item-pickup text-center">"Double Item Vision"<br />"아이템이 둘로 보여!"</p>
  <p class="item-quality text-center">퀄리티 3</p>
  <p>사용시 현재 방에 있는 모든 아이템과 픽업 아이템을 복사합니다</p>
  <p>상점이나 악마방에서 사용하면 복사된 아이템은 무료로 획득할 수 있습니다</p>
  <p>선택형 보물방이나 보스러시에서 사용하면 원본 아이템과 복사된 아이템 중 각각 하나씩 획득할 수 있습니다</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 액티브 (즉시 사용, 일회성)</p>
  <p class="item-pool">일반 배열 : 상점</p>
  <p class="item-greedpool">그리드 배열 : 상점</p>
  <p class="item-tags d-none"></p>
  <p class="item-search d-none"> 동그라미 원 복사  </p>
  <p class="item-type-s d-none">0</p>
</item-details>