<item-details>
  <p class="d-flex"><span class="item-id">#347</span><span class="ml-auto item-ver">애프터버스+</span></p>
  <p class="item-title text-center"><span class="item-name-eng">Dark Prince's Crown</span>
    <br />
    <span class="item-name-kor">어둠 왕자의 왕관</span>
    <br />
  </p>
  <p class="item-pickup text-center">"Loss is Power"<br />"잃음이 곧 힘이다"</p>
  <p class="item-quality text-center">퀄리티 1</p>
  <p> <i class="fa fa-plus text-success"></i> 빨간 하트의 갯수가 정확히 1개일 때 사거리 +1.5, 공격속도 +2.0, 탄속 + 0.2가 증가합니다</p>
  <p>공격속도는 한도 6.0을 넘을 수 있습니다</p>
  <p class="item-unlock">해금 조건 : 아자젤로 델리리움(Delirium) 격파</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브</p>
  <p class="item-pool">일반 배열 : 악마방, 저주방</p>
  <p class="item-greedpool">그리드 배열 : 악마방</p>
  <p class="item-tags d-none"></p>
  <p class="item-search d-none"> 빨간 왕관 달방 샷딜레이 </p>
</item-details>