<item-details>
  <p class="d-flex"><span class="item-id">#w01</span><span class="ml-auto item-ver">푸딩 & 와카바</span></p>
  <p class="item-title text-center"><span class="item-name-eng">Wakaba's Blessing</span>
    <br />
    <span class="item-name-kor">와카바의 축복</span>
    <br />
  </p>
  <p class="item-pickup text-center">"???"</p>
  <p class="item-quality text-center">퀄리티 4</p>
  <p>악마방이 등장하지 않습니다</p>
  <p> <i class="fa fa-plus text-success"></i> 퀄리티가 1 이하인 아이템은 자동으로 리롤됩니다</p>
  <p>모든 피격에 대한 패널티가 제거됩니다</p>
  <p>와카바는 이 아이템의 효과가 고유 능력으로 적용되며 와카바가 이 아이템을 추가로 획득할 경우 공격 속도가 +0.7 증가합니다</p>
  <p class="item-unlock">해금 조건 : 와카바로 하드 모드 체크리스트 완성</p>
  <div class="sidebar-divider"></div>
  <p class="item-type">아이템 타입 : 패시브</p>
  <p class="item-pool">일반 배열 : 천사방, 상점, 비밀방</p>
  <p class="item-greedpool">그리드 배열 : 상점, 보스방, 천사방</p>
  <p class="item-tags-kor">태그 : 세라핌</p>
  <p class="item-tags d-none"> angel </p>
  <p class="item-search d-none"> 천사셋 보라 </p>
  <p class="item-type-s d-none">0</p>
</item-details>